# My files
docs/
temp/
*.mp3
*.bat
*.jpg
report.txt

# Python
*.pyc
__pycache__/

# Environments
.env
venv/
venv.bak/

# IDEs and editors
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

