# My files
docs/
logs/
temp/
tests/
*.mp3
*.bat
*.jpg
report.txt

# Python
__pycache__/
.pytest_cache\
*.pyc

# Environments
.env
venv/
venv.bak/

# IDEs and editors
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

